Repository matrixorigin/matrixcube, pull requests merged in 2021-12, with the labels that each got.

#472 Removed term from the storage.DataStorage interface
  components/prophet/pb/metapb/metapb.pb.go
  components/prophet/pb/rpcpb/rpcpb.pb.go
  pb/errorpb/errorpb.pb.go
  pb/meta/meta.pb.go
  pb/meta/meta.proto
  pb/rpc/rpc.pb.go
  raftstore/execute_context.go
  raftstore/execute_context_test.go
  raftstore/replica_create.go
  raftstore/replica_create_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_snapshot_test.go
  raftstore/replica_state_machine_exec.go
  raftstore/snapshotter.go
  storage/kv/kv_base_storage.go
  storage/kv/kv_base_storage_test.go
  storage/kv/kv_data_storage.go
  storage/storage_data.go
Labels: component/raftstore, priority/high, kind/refactoring

#475 Remove snapshot/snaphot_manager.go
  config/config.go
  snapshot/snaphot_manager.go
Labels: component/raftstore, priority/medium, kind/refactoring

#477 Removed some worker pool logging
  raftstore/worker_pool.go
Labels: component/raftstore, priority/medium, kind/refactoring

#482 Fix end-to-end replication via snapshot
  components/prophet/pb/metapb/metapb.pb.go
  components/prophet/pb/rpcpb/rpcpb.pb.go
  pb/errorpb/errorpb.pb.go
  pb/meta/meta.pb.go
  pb/meta/meta.proto
  pb/rpc/rpc.pb.go
  raftstore/integration_snapshot_test.go
  raftstore/replica_event_raft_ready.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_state_machine.go
  raftstore/snapshotter.go
  raftstore/testutil.go
  transport/chunk.go
  transport/chunk_test.go
  transport/snapshot.go
  transport/transport.go
Labels: kind/enhancement, component/raftstore, priority/high

#484 Take persistent log index into consideration when compacting logs
  raftstore/replica_state_machine_exec.go
  raftstore/replica_state_machine_exec_test.go
Labels: kind/bug, component/raftstore, priority/high

#487 Fix forTestCompactionAndSnapshot
  raftstore/integration_snapshot_test.go
Labels: kind/bug, component/raftstore, priority/medium

#489 Fix #488 limit what committed raft log entries to apply
  raftstore/replica.go
  raftstore/replica_event_raft_ready.go
  raftstore/replica_event_raft_ready_test.go
Labels: kind/bug, component/raftstore, priority/high

#491 Fix #490 feed ConfState from the latest snapshot to raft node
  raftstore/replica.go
  raftstore/replica_event_loop.go
Labels: kind/bug, component/raftstore, priority/high

#493 Added more debug logging
  raftstore/replica_event_loop.go
  raftstore/replica_snapshot.go
  raftstore/replica_state_machine_exec.go
  raftstore/snapshotter.go
Labels: kind/enhancement, component/raftstore, priority/medium

#494 Set pushedIndex after applying initial snapshot
  raftstore/replica_event_loop.go
Labels: kind/bug, component/raftstore, priority/high

#498 Added a matrixone_test build tag
  Makefile
  raftstore/store_extension.go
  raftstore/store_test.go
Labels: component/raftstore, kind/feature, priority/high

#503 Fix snapshot image compaction
  logdb/logdb.go
  logdb/logdb_test.go
  raftstore/replica_event_loop_test.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_snapshot_test.go
  snapshot/snapshot_env.go
Labels: kind/bug, component/raftstore, priority/high

#515 Fix LogReader initialization in the presence of snapshotting
  logdb/logdb.go
  logdb/logdb_test.go
  raftstore/replica.go
  raftstore/replica_create_test.go
  raftstore/replica_event_loop_test.go
  raftstore/replica_event_proposal.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_snapshot_test.go
  raftstore/replica_state_machine_exec_test.go
  raftstore/replica_test.go
Labels: kind/bug, component/raftstore, priority/high

#516 Added a LogDB test
  logdb/logdb_test.go
Labels: kind/enhancement, component/raftstore, priority/medium

#517 Simplified how orphan snapshots are handled
  raftstore/replica_event_raft_ready.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot_test.go
  raftstore/snapshotter.go
  raftstore/snapshotter_test.go
  snapshot/snapshot_env.go
  snapshot/snapshot_env_test.go
  transport/chunk.go
  util/fileutil/utils.go
Labels: kind/enhancement, component/raftstore, priority/high

#522 Fixed kvDataStorage to update persistentLogIndex after applying snapshot
  raftstore/replica_snapshot_test.go
  storage/kv/kv_data_storage.go
Labels: kind/bug, component/raftstore, priority/high

#527 Explicitly set pebble's max opened file to 1024
  storage/kv/pebble/storage.go
Labels: kind/enhancement, component/raftstore, priority/medium

#542 Fix bad merge in test TestReplicaSnapshotCanBeApplied
  raftstore/replica_snapshot_test.go
Labels: kind/bug, component/raftstore, priority/medium

#540 Allow apply result metrics to be ignored
  raftstore/replica_apply_result.go
  raftstore/replica_apply_result_test.go
  raftstore/replica_state_machine.go
  raftstore/replica_state_machine_exec.go
Labels: kind/enhancement, component/raftstore, priority/medium

#544 Handle unprocessed worker request on exit
  raftstore/worker_pool.go
Labels: kind/enhancement, component/raftstore, priority/medium

#549 Minor fix for logging
  logdb/logdb.go
  raftstore/log_reader.go
  raftstore/replica.go
  raftstore/replica_apply_result.go
Labels: kind/enhancement, component/raftstore, priority/medium

#557 Never remove the latest snapshot record from LogDB
  raftstore/replica_event_loop.go
  raftstore/replica_event_loop_test.go
Labels: kind/bug, component/raftstore, priority/critical

#564 Some cleanups for zap logging fields
  components/log/fields.go
  raftstore/read_index_queue.go
  raftstore/replica.go
  raftstore/replica_apply_result.go
  raftstore/replica_event_loop.go
  raftstore/replica_event_raft_ready.go
  raftstore/replica_snapshot.go
  raftstore/replica_state_machine.go
  raftstore/replica_state_machine_exec.go
  raftstore/snapshotter.go
Labels: kind/enhancement, component/raftstore, priority/medium

#567 Add LogDB safety checks
  logdb/logdb.go
  logdb/logdb_test.go
  raftstore/replica_apply_result.go
Labels: kind/enhancement, component/raftstore, priority/high

#569 Fixed snapshot compaction to remove snapshot images whenever possible
  raftstore/replica.go
  raftstore/replica_event_loop.go
  raftstore/replica_event_loop_test.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_snapshot_test.go
  raftstore/replica_test.go
Labels: kind/bug, component/raftstore, priority/high

#572 Implement log and snapshot compaction as event worker actionns
  raftstore/replica_apply_result.go
  raftstore/replica_event_loop.go
  raftstore/replica_event_loop_test.go
  raftstore/replica_event_raft_ready_test.go
  raftstore/replica_snapshot.go
  raftstore/replica_snapshot_test.go
  raftstore/replica_state_machine_exec_test.go
Labels: kind/bug, component/raftstore, priority/medium

#583 Fixed some goroutine leaks in tests
  raftstore/integration_basic_test.go
  raftstore/prophet_adapter_test.go
  raftstore/proposal_batch_test.go
  raftstore/proxy_backend_test.go
  raftstore/proxy_rpc_test.go
  raftstore/proxy_test.go
  raftstore/replica_apply_result_test.go
  raftstore/replica_destory_task_test.go
  raftstore/replica_destroy_test.go
  raftstore/replica_event_loop_test.go
  raftstore/router_test.go
  raftstore/split_checker_test.go
  raftstore/store_bootstrap_test.go
  raftstore/store_handler_test.go
  raftstore/store_route_handler_test.go
  raftstore/store_shards_pool_test.go
  raftstore/store_test.go
  raftstore/store_timer_task_test.go
  raftstore/testutil.go
Labels: kind/enhancement, component/prophet, priority/high

#586 [WIP] Delete LogDB records when replica is destroyed
  logdb/logdb.go
  logdb/logdb_test.go
  raftstore/replica_destroy.go
  raftstore/store_test.go
  storage/kv/pebble/storage.go
  util/write_batch.go
Labels: kind/bug, component/raftstore, priority/high

#588 Shutdown replicas when store.Stop() is called
  raftstore/store.go
Labels: kind/bug, component/raftstore, priority/high

#589 Fixed a goroutine leak in test
  raftstore/issue_test.go
Labels: kind/bug, component/raftstore, priority/medium

#592 Fixed kv base storage to atomically apply snapshot
  storage/kv/kv_base_storage.go
Labels: kind/bug, component/raftstore, priority/high

#593 Fix misspelling, destory -> destroy
  components/prophet/client.go
  components/prophet/cluster/cluster_worker.go
  components/prophet/cluster/cluster_worker_test.go
  components/prophet/pb/metapb/metapb.pb.go
  components/prophet/pb/metapb/metapb.proto
  components/prophet/pb/rpcpb/rpcpb.pb.go
  components/prophet/pb/rpcpb/rpcpb.proto
  components/prophet/prophet_handler.go
  components/prophet/schedule/operator/step.go
  components/prophet/schedule/operator_controller.go
  components/prophet/schedulers/balance_resource.go
  raftstore/integration_split_test.go
  raftstore/prophet_adapter.go
  raftstore/replica.go
  raftstore/replica_apply_result.go
  raftstore/replica_apply_result_test.go
  raftstore/replica_destroy.go
  raftstore/replica_destroy_task.go
  raftstore/replica_destroy_task_test.go
  raftstore/store.go
  raftstore/store_handler.go
  raftstore/store_timer_task.go
  util/btree_shard_test.go
Labels: kind/enhancement, component/raftstore, component/prophet, priority/low

#595 Allow engine to reject SaveShardMetadata after split
  raftstore/replica_destroy.go
  storage/storage_data.go
Labels: kind/enhancement, component/raftstore, priority/high

#598 Fixed a race condition on how replicas are created & stopped
  raftstore/router.go
  raftstore/store.go
Labels: kind/bug, component/raftstore, priority/high

#604 add election/WithLogger; pass cfg.Logger-adjusted logger to NewElecto…
  components/prophet/election/election_option.go
  components/prophet/prophet.go
Labels: kind/enhancement, component/prophet, priority/medium

#602 Better error handling
  raftstore/replica_event_loop.go
Labels: component/raftstore, priority/medium, kind/refactoring

#605 Added more logging
  pb/meta/meta.pb.go
  pb/meta/meta.proto
  raftstore/replica_event_raft_ready.go
  raftstore/store_handler.go
Labels: kind/enhancement, component/raftstore, priority/medium

#607 Fixed how initial snapshot is applied
  raftstore/replica_event_loop.go
  raftstore/replica_event_loop_test.go
  raftstore/replica_snapshot.go
Labels: kind/bug, component/raftstore, priority/critical

#608 Made LogDB less verbose in logging
  logdb/logdb.go
  raftstore/replica_event_raft_ready.go
Labels: kind/enhancement, component/raftstore, priority/medium

#640 Minor fix for a worker pool test
  raftstore/worker_pool_test.go
Labels: kind/enhancement, component/raftstore, priority/medium

#642 Enabled race detection and goroutine leak checks by default
  Makefile
  util/leaktest/leak.go
Labels: kind/enhancement, component/raftstore, component/prophet, priority/high

#643 Added a nightly github action to run all tests
  .github/workflows/nightly.yml
Labels: kind/enhancement, component/raftstore, component/prophet, priority/medium
